<section data-ng-controller="DmapsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Dmaps</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="dmap in dmaps" data-ng-href="/#!/dmaps/{{dmap._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="dmap.created | date:'medium'"></span>
				by
				<span data-ng-bind="dmap.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="dmap.name"></h4>
        </a>
    </div>
    <!--<div ng-controller="DmapsController" layout="column" style="height:500px;">-->
        <section layout="row" flex>
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Sidenav Left</h1>
                </md-toolbar>
                <md-content class="md-padding" ng-controller="LeftCtrl">
                    <md-button ng-click="close()" class="md-primary" hide-gt-md>
                        Close Sidenav Left
                    </md-button>
                    <p hide-md show-gt-md>
                        This sidenav is locked open on your device. To go back to the default behavior,
                        narrow your display.
                    </p>
                </md-content>
            </md-sidenav>
            <md-content flex class="md-padding">
                <div layout="column" layout-fill layout-align="top center">
                    <p>
                        The left sidenav will 'lock open' on a medium (>=960px wide) device.
                    </p>
                    <div>
                        <md-button ng-click="toggleLeft()"
                                   class="md-primary" hide-gt-md>
                            Toggle left
                        </md-button>
                    </div>
                    <div>
                        <md-button ng-click="toggleRight()"
                                   class="md-primary">
                            Toggle right
                        </md-button>
                    </div>
                </div>
                <div flex></div>
            </md-content>
            <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">Sidenav Right</h1>
                </md-toolbar>
                <md-content ng-controller="RightCtrl" class="md-padding">
                    <md-button ng-click="close()" class="md-primary">
                        Close Sidenav Right
                    </md-button>
                </md-content>
            </md-sidenav>
        </section>
    <!--</div>-->
    <div class="alert alert-warning text-center" data-ng-hide="!dmaps.$resolved || dmaps.length">
    	No Dmaps yet, why don't you <a href="/#!/dmaps/create">create one</a>?
    </div>
</section>